.Banner {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #d2d2d2;
}
.Title h2 {
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase;
}
.Content_Home {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.Data-episode {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  flex-wrap: nowrap;
}
.Data-Origin {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  flex-wrap: nowrap;
}
.Character {
  display: flex;
  width: 50%;
  flex-flow: row wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  flex-wrap: nowrap;
}
.Profile {
  width: 50%;
}
.Content-profile {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.ImageProfile img {
  border-radius: 10px;
}
.TextProfile {
  padding: 10px;
}
.btnEpisodios {
  background: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  border: 0px;
}
.btnOrigen {
  background: #aad0e7;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  border: 0px;
}
